<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome %>!</h1>
        <form action="/login" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
